.legend {
  display: flex;
  flex-direction: row;
}

.legend-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 10px 10px 10px;
}

.legend-chip {
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 20px;
  margin-right: 5px;
}
