.container {
  display: grid;
  grid-template-columns: repeat(auto-fill, 4ch);

  --light-grey: #a7c0cd;
}

.container .labelDrivetrain {
  grid-column: 1 / -1;
  margin-bottom: 5px;
  padding: 0;
  font-size: 0.85em;
}

.labelDrivetrain:not(:first-child) {
  margin-top: 10px;
}

.labelFront {
  grid-column: 1;
  text-align: right;
}

.labelRatio {
  grid-column: 2;
  box-shadow: 1px 0 0 var(--light-grey);
  text-align: right;
}

/* lol, border-collapse: collapse equivalent */
.labelRearRow + .labelRatio {
  box-shadow: 1px 0 0 var(--light-grey), 0 -1px 0 var(--light-grey);
}

.labelDrivetrain + .labelRearRow {
  grid-column: 3;
  border-left: 1px solid var(--light-grey);
}

.labelRearRow {
  border-bottom: 1px solid var(--light-grey);
}

.container div {
  padding-left: 5px;
  padding-right: 5px;
}

.metricSelector input {
  margin: 0;
  margin-right: 5px;
}

.metricSelector {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}

.metricSelector label {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.metricSelector label:not(:first-child) {
  margin-left: 10px;
}
